@use '@elemental-ui/core/src/styles/_eui_palette.scss' as eui;

.imx-loginInput {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .pwd-question {
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
}

:host {
  eui-alert {
    color: eui.$color-gray-80;
  }
}

.buttonbar {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.passcode,
.pwd-answer {
  margin-top: 1em;
  margin-bottom: 1em;
}

.eui-dark-theme,
.eui-contrast-theme {
  :host {
    eui-alert {
      color: eui.$color-gray-0;
    }
  }
  .imx-loginInput {
    .mat-mdc-card {
      color: eui.$color-gray-0;
    }
  }
}

.eui-dark-theme {
  :host {
    .imx-loginInput {
      .imx-input-login {
        background-color: eui.$color-gray-70 !important;
      }
    }
  }
}

.eui-contrast-theme {
  :host {
    .imx-loginInput {
      .imx-input-login {
        background-color: eui.$color-gray-90 !important;
      }
    }
  }
}
