@use '@elemental-ui/core/src/styles/_eui_palette.scss' as eui;

.imx {
  &-white {
    color: eui.$color-gray-0;
  }

  &-black {
    color: eui.$color-gray-100;
  }

  &-info {
    color: eui.$color-blue-60;
  }

  &-new {
    color: eui.$color-green-60;
  }

  &-warning {
    color: eui.$color-orange-60;
  }

  &-error {
    color: eui.$color-red-60;
  }
}

.eui-dark-theme,
.eui-contrast-theme {
  .imx {
    &-info {
      color: eui.$color-blue-40;
    }

    &-new {
      color: eui.$color-green-40;
    }

    &-warning {
      color: eui.$color-orange-40;
    }

    &-error {
      color: eui.$color-red-40;
    }
  }
}