@use '@elemental-ui/core/src/styles/_eui_palette.scss' as eui;

@mixin eui-elevation-1 {
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.2);
}

@mixin eui-elevation-2 {
  box-shadow:
    0px 4px 5px rgba(0, 0, 0, 0.14),
    0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
}

@mixin eui-elevation-3 {
  box-shadow:
    0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12),
    0px 11px 15px rgba(0, 0, 0, 0.2);
}

@mixin eui-elevation-4{
  box-shadow:
    0px 1px 3px 0px rgba($color: eui.$color-gray-100, $alpha: 0.20),
    0px 2px 1px 0px rgba($color: eui.$color-gray-100, $alpha: 0.12),
    0px 1px 1px 0px rgba($color: eui.$color-gray-100, $alpha: 0.14);
}
@mixin eui-elevation-5{
  box-shadow: 0px 4px 4px 0px rgba($color: eui.$color-gray-100, $alpha: 0.25);
}
@mixin eui-elevation-6{
  box-shadow:
    0px 2px 4px 0px rgba($color: eui.$color-gray-100, $alpha: 0.2),
    0px 1px 10px 0px rgba($color: eui.$color-gray-100, $alpha: 0.12),
    0px 4px 5px 0px rgba($color: eui.$color-gray-100, $alpha: 0.14);
}


@mixin ease-transition($duration: 0.4s) {
  transition: all $duration ease;
}

@mixin flex-column-container($overflow: null, $height: null, $width: null, $max-height: null, $max-width: null, $padding: false, $gap: null) {
  display: flex;
  flex-direction: column;
  overflow: $overflow;
  height: $height;
  width: $width;
  max-height: $max-height;
  max-width: $max-width;
  gap: $gap;
  @if $padding {
    padding: 2px;
  }
}

@mixin flex-row-container($overflow: null, $height: null, $width: null, $max-height: null, $max-width: null, $align: null, $justify: null, $gap: null) {
  display: flex;
  flex-direction: row;
  overflow: $overflow;
  height: $height;
  width: $width;
  max-height: $max-height;
  max-width: $max-width;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin flex-column-container-fill($padding: false) {
  @include flex-column-container($overflow: hidden, $padding: $padding);
  flex: 1 1 auto;
}

@mixin flex-row-container-fill {
  @include flex-row-container();
  flex: 1 1 auto;
}

@mixin align-button-content($text-color) {
  color: $text-color;

  ::ng-deep .mat-mdc-button-wrapper {
    display: flex;
    align-items: center;
  }
}

@mixin image-button-icon {
  eui-icon {
    font-size: 14px;
    margin-right: 4px;
  }
}

@mixin button-bar {
  @include flex-row-container();
  justify-content: flex-end;
  margin-top: 16px;

  >button:not(:last-of-type) {
    margin-right: 16px;
  }

  .imx-menu-spacer {
    flex: 1 1 auto;
  }

  .mat-mdc-stroked-button,
  .mat-mdc-raised-button {
    @include image-button-icon;
  }
}

@mixin button-column-right {
  @include flex-row-container();
  justify-content: flex-end;

  .mat-mdc-stroked-button {
    @include image-button-icon;
    margin-right: 16px;
  }
}

@mixin text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin transform-enlarge($scale: 1.03) {
  transform: translate3D(0, -1px, 0) scale($scale);
}

@mixin transform-shrink($scale: 0.97) {
  transform: translate3D(0, -1px, 0) scale($scale);
}

// $header-type: Values: body, title, label, emphasize, description
// $primary: Sets the text color, Values: Boolean, default: false
@mixin new-request-text($header-type: body, $primary: false) {
  font-size: 14px;
  font-weight: 600;

  @if $header-type ==title {
    font-size: 26px;
    line-height: 33px;
  }

  @else if $header-type ==emphasize {
    font-size: 20px;
    line-height: 25px;
  }

  @else if $header-type ==label {
    line-height: 18px;
  }

  @else if $header-type ==description {
    color: eui.$color-gray-40;
    font-weight: 400;
    line-height: 18px;
    margin-left: 5px;
  }
}

@mixin new-request-orange-border($theme: eui-light-theme) {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  outline-width: 1px;
  outline-style: solid;

  @if $theme ==eui-light-theme {
    outline-color: eui.$color-orange-40;
    border-color: eui.$color-orange-40;
  }

  @else if $theme ==eui-dark-theme {
    outline-color: eui.$color-orange-60;
    border-color: eui.$color-orange-60;
  }

  @else if $theme ==eui-contrast-theme {
    outline-color: eui.$color-orange-60;
    border-color: eui.$color-orange-60;
  }
}

@mixin eui-sidesheet-actions__mixin_01($align-items: null,
  $overflow-y: null,
  $flex-wrap: null,
  $padding: null,
  $margin: null,
  $margin-top: null,
  $margin-right: null,
  $margin-bottom: null,
  $margin-left: null) {
  display: flex;
  justify-content: flex-end;
  align-items: $align-items;
  overflow-y: $overflow-y;
  flex-wrap: $flex-wrap;
  padding: $padding;
  margin: $margin;

  >* {
    margin-top: $margin-top;
    margin-right: $margin-right;
    margin-bottom: $margin-bottom;
    margin-left: $margin-left;
  }
}
