
@use '@angular/material' as mat;
@use '@elemental-ui/core/src/styles/_eui_palette.scss' as eui;

/* Elemental UI */

/* Angular Material */

/* Imx */
.imx-menu {
  &-with-spinner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 16px;

    .mat-mdc-progress-spinner {
      overflow: visible;
    }
  }
}
.imx-config-menu{
  .mat-mdc-menu-item-text{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.mat-mdc-menu-item {
  &.imx-primary{
    @include mat.menu-overrides((
      item-label-text-color: eui.$color-blue-60,
      item-icon-color: eui.$color-blue-60,
    ));
  }
  &.imx-warn{
    @include mat.menu-overrides((
      item-label-text-color: eui.$color-red-60,
      item-icon-color: eui.$color-red-60,
    ));
  }
}

/* Dark theme */

.eui-dark-theme {
.mat-mdc-menu-item {
  &.imx-primary{
    @include mat.menu-overrides((
      item-label-text-color: eui.$color-blue-60,
      item-icon-color: eui.$color-blue-60,
    ));
  }
  &.imx-warn{
    @include mat.menu-overrides((
      item-label-text-color: eui.$color-red-60,
      item-icon-color: eui.$color-red-60,
    ));
  }
}

}

/* High-contrast theme */

.eui-contrast-theme {
.mat-mdc-menu-item {
  &.imx-primary{
    @include mat.menu-overrides((
      item-label-text-color: eui.$color-blue-60,
    item-icon-color: eui.$color-blue-60,
    ));
  }
  &.imx-warn{
    @include mat.menu-overrides((
      item-label-text-color: eui.$color-red-60,
      item-icon-color: eui.$color-red-60,
    ));
  }
}

}
