<mat-card>
  <div mat-card-title>Hello world!</div>

  <button mat-flat-button color="primary" (click)="loadPersonData()">Fetch some person data...</button>

  @if (busy) {
    <mat-spinner></mat-spinner>
  }

  @if (!busy && totalCount > 0) {
    <div>
      <div>There are {{ totalCount }} identities in the address book. The first identities are:</div>
      <ul>
        @for (person of persons; track person) {
          <li>
            {{ person.GetEntity().GetDisplay() }}
          </li>
        }
      </ul>
    </div>
  }
</mat-card>
